<h1>[% desc %]</h1>
[% IF banner -%]
<div class="box" id="banner">[% banner %]</div>
[% END -%]

<div class="box" id="index"><div class="scrollable">
[% IF general %]
<div style="float:left; margin-right:1em">
<span class="main_icon fa fa-info-circle fa-3x pull-left"></span>
<h2>General information</h2>
<ul class="toplevel">
	[% FOREACH i IN general -%]
	<li>[% i %]</li>
	[% END %]  
</ul>
</div>
[% END -%]
</div></div>
